@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f8faef;
}

* {
  background-color: #041530;
  color: #f8faef;
  font-family: "Work Sans";
}

.buttonClass {
  color: #9299a4;
  padding: 10px 20px;
  border: 1px solid #9299a4;
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  margin: 10px;
}

.buttonClass:hover {
  color: #f8faef;
  border: 1px solid #f8faef;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.inputField {
  color: #9299a4;
  padding: 5px 30px;
  border-bottom: 1px solid #9299a4;
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin: 5px;
}

.smallButton {
  color: #282c34;
  background-color: #9299a4;
  padding: 7px 10px;
  border: 1px solid #9299a4;
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.smallButton:hover {
  color: #f8faef;
  border: 1px solid #f8faef;
}

.likeButton {
  background-color: #f8faef;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto 30px;
}

.likeButton:hover {
  background-color: #f8faef;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto 30px;
  box-shadow: 0 4px 8px 0#f8faef;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inputField-subcontainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* The phone screen is 375px wide */
.phoneContainer {
  width: 375px;
  font-size: 12px;
}

.icon {
  height: 70%;
  background-color: #f8faef;
}
